:root {
  --accent-color: #2196f3;
  --accent-color-active: hsl(207, 90%, 40%);
  --text-color: #212121;
  --header-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --second-text-color: #757575;
  --footer-bg-color: #2f303a;
  --btn-bg-color: #f5f4fa;
  --portfolio-card-gap: 30px;
}

body {
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
  color: var(--header-bg-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-content {
  display: flex;
  height: 80px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.studio {
  color: #212121;
}

.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-item:not(:last-of-type) {
  margin-right: 50px;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-item:not(:last-of-type) {
  margin-right: 30px;
}

.contacts-link {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
}

.hero {
  padding: 200px 0;
}

.hero-bg {
  background-color: var(--hero-bg-color);
}

.hero-picture {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero-image.jpg);
}

.hero-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--header-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
  padding: 10.5px 26px;
}

.hero-btn:active {
  background-color: var(--accent-color-active);
}

.advantage-headline {
  visibility: hidden;
}

.picture-headline,
.team-headline,
.clients-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--text-color);
}

.advantage-list {
  display: flex;
}

.advantage-item:not(:last-of-type) {
  margin-right: 30px;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  white-space: pre;
}

.picture-list {
  display: flex;
}

.picture-item:not(:last-of-type) {
  margin-right: 30px;
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-of-type) {
  margin-right: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.footer-logo {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-studio {
  color: var(--header-bg-color);
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 60px 0;
}

.address-item:not(:last-of-type) {
  margin-bottom: 9px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-bg-color);
}

.address-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

a:hover,
a:focus {
  color: var(--accent-color);
}

.team {
  background-color: #f5f4fa;
}

.portfolio-headline {
  visibility: hidden;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
}

.portfolio-btn-item {
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-of-type) {
  margin-right: 8px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--btn-bg-color);
  border-radius: 4px;
  margin-bottom: 50px;
  cursor: pointer;
  border: transparent;
  margin: 0px;
  padding: 5.5px 17.25px;
}

.portfolio-btn.current {
  background-color: var(--accent-color);
  color: var(--header-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--header-bg-color);
}

.portfolio-btn:active {
  background-color: var(--accent-color-active);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--portfolio-card-gap));
  margin-right: calc(-1 * var(--portfolio-card-gap));
}

.portfolio-item {
  margin-bottom: var(--portfolio-card-gap);
  margin-right: var(--portfolio-card-gap);
  flex-basis: calc((100% - 3 * var(--portfolio-card-gap)) / 3);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  padding: 0 24px 4px;
  white-space: nowrap;
  padding-top: 30px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  padding: 0 24px 20px;
}

.portfolio-card-border {
  border: 1px solid #eeeeee;
  border-top: none;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.advantage-icon-block {
  display: inline-flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.team-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-socials-links {
  display: flex;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.team-socials-links:hover,
.team-socials-links:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.team-socials-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-socials-item:not(:last-of-type) {
  margin-right: 10px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item:not(:last-of-type) {
  margin-right: 30px;
}

.clients-icon-block {
  display: inline-flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-link {
  display: inline-block;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.footer > .container {
  display: flex;
}

.address-block {
  margin-right: 70px;
}

.join-headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
}

.join-icon-block {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.join-item:not(:last-of-type) {
  margin-right: 10px;
}

.join-link {
  display: inline-block;
  color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.join-link:hover,
.join-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.work {
  padding: 0;
}

.team-card-block {
  padding: 30px 0;
}
