:root {
  --accent-color: #2196f3;
  --accent-color-active: hsl(207, 90%, 40%);
  --text-color: #212121;
  --header-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --second-text-color: #757575;
  --footer-bg-color: #2f303a;
  --btn-bg-color: #f5f4fa;
  --portfolio-card-gap: 30px;
}

body {
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
  color: var(--header-bg-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-content {
  display: flex;
  height: 80px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.studio {
  color: #212121;
}

.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 32px 0;
}

.site-nav-link.current {
  color: var(--accent-color);
  position: relative;
}

.site-nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-item:not(:last-child) {
  margin-right: 30px;
}

.contacts-link {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
}

.hero {
  padding: 200px 0;
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero-image.jpg);
  background-color: var(--hero-bg-color);
}

.hero-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--header-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
  padding: 10.5px 26px;
}

.hero-btn:active {
  background-color: var(--accent-color-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.picture-headline,
.team-headline,
.clients-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--text-color);
}

.advantage-list {
  display: flex;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  white-space: pre;
}

.picture-list {
  display: flex;
}

.picture-item:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.footer-logo {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-studio {
  color: var(--header-bg-color);
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 60px 0;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-bg-color);
}

.address-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  color: var(--accent-color);
}

.team {
  background-color: #f5f4fa;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
}

.portfolio-btn-item {
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--btn-bg-color);
  border-radius: 4px;
  margin-bottom: 50px;
  cursor: pointer;
  border: transparent;
  margin: 0px;
  padding: 5.5px 17.25px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn.current {
  background-color: var(--accent-color);
  color: var(--header-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--header-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:active {
  background-color: var(--accent-color-active);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--portfolio-card-gap));
  margin-right: calc(-1 * var(--portfolio-card-gap));
}

.portfolio-item {
  margin-bottom: var(--portfolio-card-gap);
  margin-right: var(--portfolio-card-gap);
  flex-basis: calc((100% - 3 * var(--portfolio-card-gap)) / 3);
}

.portfolio-link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  white-space: nowrap;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-card-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.advantage-icon-block {
  display: inline-flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.team-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-socials-links {
  display: flex;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-links:hover,
.team-socials-links:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.team-socials-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-socials-item:not(:last-child) {
  margin-right: 10px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.address-block {
  margin-right: 70px;
}

.join-block {
  margin-right: 93px;
}

.join-headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-link {
  display: flex;
  color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.work {
  padding-top: 0;
}

.team-card-block {
  padding: 30px 0;
}

.picture-box {
  position: relative;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0%);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: scale(1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 125ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-close-btn-pic {
  fill: #000;
  width: 11px;
  height: 11px;
  display: inline-flex;
  align-self: center;
  justify-self: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-pic,
.modal-close-btn:focus .modal-close-btn-pic {
  fill: var(--accent-color);
}

.modal-form {
  padding: 40px;
}

.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 12px;
}

.input-text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-label-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label-title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--second-text-color);
}

.modal-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit-btn:active {
  background-color: var(--accent-color-active);
}

.input-checkbox {
  appearance: none;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .checkbox-icon {
  background-image: url("../images/Vector.svg");
  background-size: contain;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-origin: content-box;
  border: 2px solid var(--accent-color);
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: var(--text-color);
  transform: translate(14px, 30px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-label:focus-within .modal-icon {
  fill: var(--accent-color);
}

.follow-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.email-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
  color: #ffffff;
}

.follow-btn {
  padding: 10px 29px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-btn:hover,
.follow-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.follow-btn:active {
  background-color: var(--accent-color-active);
}

.follow-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
