@import "./utils/variables";
@import "./components/global-styles";
@import "./components/container";
@import "./components/section";
@import "./components/logo";
@import "./components/page-header";
@import "./components/site-nav";
@import "./components/contacts";
@import "./components/hero";
@import "./components/modal-window";
@import "./components/advantage-box";
@import "./components/picture-box";
@import "./components/team-box";
@import "./components/socials";
@import "./components/clients";
@import "./components/page-footer";
@import "./components/address-block";
@import "./components/join-block";
@import "./components/mailing-block";
