.advantage__title {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantage__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantage__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 9px;
  text-align: center;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;
}

.advantage__icon-block {
  display: inline-flex;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
