.body {
  font-family: Roboto, sans-serif;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.headline,
.text {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
