.menu-socials {
  display: flex;
  @media screen and (max-width: 479px) {
    flex-wrap: wrap;
  }
  align-items: center;
  justify-content: flex-start;
}

.menu-socials__item:not(:last-child) {
  margin-right: 10px;
}

.menu-socials__item:not(:last-child):after {
  content: "|";
  font-size: 22px;
  color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
