.page-header {
  border-bottom: 1px solid #ececec;
  color: $header-bg-color;
}

.page-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 60px;
}
