.page-header {
  border-bottom: 1px solid #ececec;
  color: $header-bg-color;
}

.page-header__content {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  width: 100%;
}

// tablet styles

@media screen and (min-width: 768px) {
  .page-header__content {
    align-items: center;
    height: 80px;
  }
}
