.footer {
  background-color: $footer-bg-color;
  padding: 60px 0;
}

.footer__container {
  text-align: center;
}

// tablet styles

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

// dekstop

@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    justify-content: start;
  }
}
