.page-header {
  border-bottom: 1px solid #ececec;
  color: $header-bg-color;
}

.page-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 60px;
}

// tablet styles

@media screen and (min-width: 768px) {
  .page-header__content {
    align-items: center;
    min-height: 80px;
  }
}
