.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: $portfolio-card-gap * -1;
  margin-left: $portfolio-card-gap * -1;
}

.portfolio__item {
  margin-top: $portfolio-card-gap;
  margin-left: $portfolio-card-gap;
  flex-basis: calc(100% / 3 - $portfolio-card-gap);
}

.portfolio__link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay__text,
  &:focus .overlay__text {
    transform: translateY(0%);
  }
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $text-color;
  white-space: nowrap;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $second-text-color;
}

.portfolio__card-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
