.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__links {
  display: flex;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}
