.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: $text-color;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-text-color;
  margin-bottom: 16px;
}

.team__card-block {
  padding: 30px 0 24px;
}

// tablet styles

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }

  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .team__item:nth-child(odd) {
    margin-right: 30px;
  }

  .team__card-block {
    padding: 30px 0 24px;
  }
}

// dekstop

@media screen and (min-width: 1200px) {
}
