$accent-color: #2196f3;
$accent-color-active: hsl(207, 90%, 40%);
$text-color: #212121;
$header-bg-color: #ffffff;
$hero-bg-color: #2f303a;
$second-text-color: #757575;
$footer-bg-color: #2f303a;
$btn-bg-color: #f5f4fa;
$portfolio-card-gap: 30px;
