.menu-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $text-color;
}

.menu-site-nav__link--current {
  color: $accent-color;
  position: relative;
}
