.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-text-color;
  align-items: center;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
